# Supabase
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Mapbox (public, exposed to the client)
NUXT_PUBLIC_MAPBOX_TOKEN=

# Paynow
PAYNOW_INTEGRATION_ID=
PAYNOW_INTEGRATION_KEY=
PAYNOW_RESULT_URL=
PAYNOW_RETURN_URL=
